<div class="box">
	<div class="level">
		<div class="level-left">
			<p class="has-text-weight-bold">{{this.author.name}}</p>
		</div>
		<div class="level-item">
			<p >
				{{this.body}}
			</p>
		</div>
		<div class="level-right">
			<a class="delete" href="/posts/comment/{{this.id}}/delete"></a>
		</div>
	</div>
</div>
