{{!-- <nav>
    <ul>
        <li><a href="/login">Войти</a></li>
        <li><a href="/signup">Зарегистрироваться</a></li>
    </ul>
</nav> --}}

<nav class="navbar is-active" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Главная
      </a>
			<a class="navbar-item">
        О нас
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/signup" class="button is-primary">
            <strong>Регистрация</strong>
          </a>
          <a href="/login" class="button is-light">
            Войти
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
