{{!-- <nav>
    <ul>
        <li><a href="/login">Войти</a></li>
        <li><a href="/signup">Зарегистрироваться</a></li>
    </ul>
</nav> --}}

<nav class="navbar is-active" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <p id="logo">Sonya</p>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Главная
      </a>
			{{!-- <a class="navbar-item">
        О нас
      </a> --}}
    </div>

    <div class="navbar-end">
			{{#if username}}
			<div class="navbar-item">
				Привет, {{username}}!
			</div>
			<div class="navbar-item">
        <div class="buttons">
          <a href="/logout" class="button is-light">
            Выйти
          </a>
        </div>
      </div>
			{{else}}
      <div class="navbar-item">
        <div class="buttons">
          <a href="/signup" class="button is-primary">
            <strong>Регистрация</strong>
          </a>
          <a href="/login" class="button is-light">
            Войти
          </a>
        </div>
      </div>
			{{/if}}
    </div>
  </div>
</nav>
