<h1 class="title">{{title}}</h1>
<div class="container">
	<div class="columns">
		<div class="column">
			{{#each posts}}
				{{> card}}
			{{/each}}
		</div>
		{{#if username}}
			{{> form}}
		{{/if}}
	</div>
</div>
