<h1 class="title">Регистрация</h1>

<form action="/signup" method="post" id="signupForm">
	<div class="field">
		<label class="label">Имя</label>
		<div class="control">
			<input class="input" type="text" name="name" placeholder="Как вас зовут?">
		</div>
	</div>

	<div class="field">
		<label class="label">Логин</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" name="login" type="text" placeholder="Придумайте логин">
			<span class="icon is-small is-left">
				<i class="fas fa-user"></i>
			</span>
			{{!-- <span class="icon is-small is-right">
				<i class="fas fa-check"></i>
			</span> --}}
		</div>
		{{!-- <p class="help is-success">This username is available</p> --}}
	</div>

	<div class="field">
		<label class="label">Пароль</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="password" name="password" placeholder="Придумайте пароль">
			<span class="icon is-small is-left">
				<i class="fas fa-key"></i>
			</span>
			{{!-- <span class="icon is-small is-right">
				<i class="fas fa-exclamation-triangle"></i>
			</span> --}}
		</div>
		{{!-- <p class="help is-danger">This email is invalid</p> --}}
	</div>

	<div class="field">
		<label class="label">Повторите пароль</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="password" name="verify" placeholder="Повторите пароль">
			<span class="icon is-small is-left">
				<i class="fas fa-key"></i>
			</span>
			{{!-- <span class="icon is-small is-right">
				<i class="fas fa-exclamation-triangle"></i>
			</span> --}}
		</div>
		{{!-- <p class="help is-danger">This email is invalid</p> --}}
	</div>

	<div class="field is-grouped">
		<div class="control">
			<button class="button is-link">Зарегистрироваться</button>
		</div>
	</div>
</form>
